.div-relativo {
    position: relative;
    top: 100px;
    left: 20px;
    background-color: brown;
}

.div-absoluto {
    position: absolute;
    top: 100px;
    left: 30px;
    background-color: blue;
    width: 100px;
    height: 100px;

}

.container{
    height: 500px;
    background-color: darkcyan;
}